*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
  
  }

#titulo{
  background-color: #004643;
  
}
#logo{
  width: 12%;
  margin-left: 2rem;
}
body{
  background-color:#D8D8D8;
}
#corpo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#vento{
  margin-top: 4rem ;
  margin-left: 3rem;
  width: 40%;
}
#botao{
  margin-top: 5rem;
  margin-right: 15rem;
  width: 15%;
}
