* {
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;

}

#titulo {
    background-color: #004643;

}

#logo {
    width: 200px;
    margin-left: 2rem;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #004643;
    z-index: 1;
    width: 100%;
    top: 0;
    position: fixed;
}

header img {
    height: 50px;
}

nav {
    position: fixed;
    top: 0.75rem;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    z-index: 999;
}

nav a {
    padding: 10px;
    margin: 0 10px;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    /* esconde a linha inicialmente */
    transition: transform 0.3s ease-in-out;
    /* adiciona uma transição suave para a animação */
}

nav a:hover::after {
    transform: scaleX(1);
    /* faz a linha aparecer ao passar o mouse em cima */
}

section {
    padding: 50px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}


#Menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#Menu li {
    margin-right: 20px;
}

#Menu a {
    color: #faf4d3;
    text-decoration: none;
}

#inicio {
    margin-top: 10rem;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;

}

#texto-inicio h1 {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}

#texto-inicio p {
    margin-top: 5rem;
}

#imagem-inicio {
    margin-top: 5rem;

}


#Contexto {
    margin-top: 10rem;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;

}

#texto-contexto h1 {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}

#texto-contexto p {
    margin-top: 5rem;
}

#imagem-contexto {
    margin-top: 5rem;

}

#Impactos{
    margin-top: 10rem;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    
}
#texto-impactos h1{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}
#texto-impactos p, ul {
    margin-top: 5rem;
}

#imagem-impactos {
    
    margin-top: 15rem;

}
#Contato table {
    border-collapse: collapse;
    margin: auto;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
#Contato th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
#Contato th {
    background-color: #f7f7f7;
    font-weight: bold;
}
#Contato a {
    color: #0066CC;
    text-decoration: none;
    font-weight: bold;
}
#Contato a:hover {
    text-decoration: underline;
}

#Matrizes {
    margin-top: 5rem;
    margin: 2rem;
}

#table-fontes {
    margin-top: 5rem;
    border-collapse: collapse;


}

#th-fontes,
#td-fontes {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#th-fontes {
    background-color: #004643;
    color: white;
}

#impactos {
    margin-top: 10rem;
    margin: 2rem;
}



#Impactos h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}



#Impactos ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

#Impactos li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}


#Solucao h1 {
    margin-left: 2rem;

}

#clarke {
    margin-top: 10rem;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

#pq_do_nome {
    margin-top: 10rem;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

#pq_do_nome p {
    margin-top: 15rem;
}

#pq_do_nome img {
    width: 800px;
}

#Sobrenos h1 {
    display: flex;
    justify-content: center;
}

#Sobrenos img {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.Nomes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}