* {
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;

}

#logo {
    width: 200px;
    margin-left: 2rem;
    margin-right: auto;
   
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #004643;
}

header img {
    height: 50px;
    
}

<<<<<<< HEAD
#Menu{
    display: flex;
    justify-content: center;
    
}


#Menu a {
=======
nav{
            position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 50px;
			z-index: 999;
}

nav a {
        padding: 10px;
		margin: 0 10px;
		position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0); /* esconde a linha inicialmente */
    transition: transform 0.3s ease-in-out; /* adiciona uma transição suave para a animação */
}

nav a:hover::after {
    transform: scaleX(1); /* faz a linha aparecer ao passar o mouse em cima */
}

#Menu ul {
>>>>>>> 29d78dd8c54759d8bbb583b8eed6656bf9a01acf
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #faf4d3;
    text-decoration: none;
    margin-right: 20px;
}


